.modal--filter {
  position: absolute;
  z-index: 1;
  box-shadow: 0px 1px 6px rgba(46, 40, 40, 0.144);
  margin-top: 76px;
  overflow: hidden;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}

@keyframes modal--keyframes {
  from {
    max-height: 5px;
    opacity: 0.48;
  }
  to {
    max-height: 50px;
    opacity: 1;
  }
}
.modal--filter li {
  animation-name: modal--keyframes;
  animation-duration: 0.3s;
  background: rgb(255, 255, 255);
  margin: 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  display: block;
  padding: 10px;
}

.modal--filter {
  & label {
    padding: 11px;
    cursor: pointer;
    padding-left: 23px;
  }
  & input {
    position: absolute;
    align-self: center;
  }
}
@keyframes popup {
  0% {
    height: 0;
  }

  100% {
    opacity: 1;
    height: 12px;
  }
}
.filter--icon {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid transparent;
  &:hover {
    background: #e5e5e5 !important;
    cursor: pointer;
    & svg {
      opacity: 0.5;
      cursor: pointer;
    }
  }
  & svg {
    opacity: 0.4;
    margin-right: 7px;
  }
}
