.modal--filter {
  position: absolute;
  z-index: 1;
  box-shadow: 0px 1px 6px rgba(46, 40, 40, 0.144);
  overflow: hidden;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-top: 70px;
}

@keyframes modal--keyframes {
  from {
    max-height: 25px;
    opacity: 0.3;
  }
  to {
    max-height: 50px;
    opacity: 1;
  }
}
.modal--filter li {
  animation-name: modal--keyframes;
  animation-duration: 0.4s;
  margin: 0;
  font-size: 12px;
  display: block;
  box-sizing: unset; /* animation lags with border-box */
}

.modal--filter {
  & label {
    padding: 9px 13px;
    cursor: pointer;
    padding-left: 15px;
    color: #777b8f;
    &:hover {
      cursor: pointer;
    }
  }
  & input {
    position: absolute;
    align-self: center;
  }
  & li:last-child {
    margin-bottom: 10px;
  }

  & li > label {
    display: block;
    width: 100%;
  }
}

.filter--icon {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 100%;
  &:hover {
    cursor: pointer;
    & svg {
      opacity: 0.4;
      cursor: pointer;
    }
  }
  & svg {
    opacity: 0.3;
    cursor: pointer;

    margin: 7px;
    margin-top: 26px;
    // font-size: 15px;
  }
}
